:root {
  --white: #fff;
  --light-gray: #e7ebf0;
  --another-shade-of-gray: #e2e7ed;
  --even-lighter-gray: #f3f5f8;
  --the-grayest-of-them-all: #eff3f8;
  --grey: #909eb5;
  --gray: #8f9db4;
  --dark-gray: #44475a;
  --pink: #ff79c6;
  --cyan: #8be9fd;
  --dark-blue: #0b3171;
  --blue: #2c78ff;
  --green: #50fa7b;
  --orange: #ffb86c;
}

.App {
  display: grid;
  grid-template-columns: 333px 4fr;
  grid-template-rows: 100px auto;
  grid-template-areas:
  "drawer header"
  "drawer main";
  height: 100vh;
  color: var(--gray);
}

.App-card {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--white);
  border: 1px solid var(--another-shade-of-gray);
  border-radius: 2px;
}

.App-card header,
.App-card main {
  padding: 10px 20px;
}

.App-card header {
  flex: 0 0 auto;
  order: 1;
  display: flex;
}

.App-card header > hr {
  flex: 0 0 auto;
}

.App-card header > .actionBar {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
}

.App-card h4 {
  flex: 0 0 auto;
  margin: 0;
  font-weight: normal;
}

.App-card hr {
  flex: 0 0 auto;
  height: .5px;
  margin: 0;
  border: none;
  background-color: var(--another-shade-of-gray);
}

.App-card header + hr {
  order: 2;
}

.App-card main + hr {
  order: 2;
}

.App-card main {
  flex: 1 1 auto;
  order: 3;
}

.App-card footer {
  flex: 0 0 auto;
  order: 5;
}

.App-drawer {
  grid-area: drawer;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--light-gray);
}

.App-drawer header {
  flex: 0 0 100px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid var(--light-gray);
  padding: 20px;
}

.App-drawer main {
  flex: 1 1 auto;
  padding: 30px 0;
}

.App-drawer nav {
  font-size: 28px;
}

.App-drawer ul {
  margin: 0px;
  padding: 0px;
}

.App-drawer li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: calc(100% + 5px);
  margin-left: -5px;
  border-radius: 0 5px 5px 0;
  transition: transform 340ms,
              color 340ms,
              background-color 340ms;
  cursor: pointer;
  user-select: none;
}

.App-drawer li:hover {
  transform: translateX(5px);
  color: var(--white);
  background-color: var(--blue);
}

.App-drawer li:active {
  transform: translateX(5px);
  color: var(--white);
  background-color: var(--pink);
}

.App-drawer li i {
  margin: 10px 20px;
  background-color: transparent;
}

.App-drawer footer {
  flex: 0 0 auto;
  padding: 30px 0;
  font-size: 24px;
}

.App-drawer .settings {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: calc(100% + 5px);
  margin-left: -5px;
  border-radius: 0 5px 5px 0;
  transition: transform 340ms,
              color 340ms,
              background-color 340ms;
  cursor: pointer;
  user-select: none;
}

.App-drawer .settings i {
  margin: 10px 20px;
  background-color: transparent;
}

.App-drawer .settings:hover {
  transform: translateX(5px);
  color: var(--white);
  background-color: var(--blue);
}

.App-drawer .settings:active {
  transform: translateX(5px);
  color: var(--white);
  background-color: var(--pink);
}

.App-drawer ul {
  list-style-type: none;
}

.App-header {
  grid-area: header;
  display: flex;
  border-bottom: 1px solid var(--light-gray);
  padding: 20px;
}

.header-left {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.header-right {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right > i {
  margin-right: 5px;
}

i {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--white);
}

.icon-button {
  cursor: pointer;
  transition: background-color 340ms, color 340ms;
}

.icon-button:hover {
  color: var(--white);
  background-color: var(--blue);
}

.icon-button:active {
  color: var(--white);
  background-color: var(--pink);
}

.button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: auto;
  height: 40px;
  overflow: hidden;
  padding: 0 10px;
  border-radius: 2px;
  background-color: var(--blue);
  transition: background-color 340ms,
              color 340ms;
  cursor: pointer;
  user-select: none;
}

.button.yetAnotherButtonStyle {
  font-size: 16px;
  border-width: 0;
  color: var(--dark-blue);
  background-color: var(--the-grayest-of-them-all);
  line-height: normal;
  -webkit-appearance: none;
  cursor: pointer;
}

.button.yetAnotherButtonStyle + .button.yetAnotherButtonStyle {
  margin-left: 5px;
}

.button.yetAnotherButtonStyle i {
  width: 24px;
  height: 24px;
  color: var(--grey);
}

.button:hover {
  background-color: var(--orange);
}

.button:active {
  background-color: var(--pink);
}

.button button {
  font-size: 16px;
  border-width: 0;
  color: var(--white);
  background-color: transparent;
  line-height: normal;
  -webkit-appearance: none;
  cursor: pointer;
}

.button i {
  color: var(--white);
  background-color: transparent;
}

.header-profile {
  display: grid;
  place-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--light-gray);
  font-size: 24px;
  transition: background-color 340ms,
              color 340ms;
  cursor: pointer;
  user-select: none;
}

.header-profile:hover {
  color: var(--white);
  background-color: var(--blue);
}

.header-profile:active {
  color: var(--white);
  background-color: var(--pink);
}


.App-main {
  padding: 20px;
  background-color: var(--even-lighter-gray);
}

.overview {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.overview > header.highlight {
  flex: 0 0 120px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-bottom: 20px;
}

.overview > main {
  flex: 1 1 auto;
  display: grid;
  grid-template-rows: repeat(auto-fit, 360px);
  grid-gap: 20px;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
